<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
	"http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">


<taglib>
 <tlibversion>1.0</tlibversion>
 <jspversion>1.1</jspversion>
 <shortname>qatags</shortname>
 <taglib-uri>http://www.lib_oli.com</taglib-uri>
 <taglib-location>/WEB-INF/tld/qatags.tld</taglib-location>

 <tag>
  <name>GetElapsedTime</name>
  <tagclass>utils.ElapsedTimeFinder</tagclass>
  <bodycontent>empty</bodycontent>
  <attribute>
    <name>startTime</name>
    <required>true</required>
    <rtexprvalue>true</rtexprvalue>
  </attribute>
  <info>
   Get elapsed time
  </info>
 </tag>

   <tag>
    <name>ShowCartItems</name>
    <tagclass>cart.ShowCartItems</tagclass>
    <teiclass>cart.ShowCartItemsTagExtraInfo</teiclass>
    <bodycontent>JSP</bodycontent>
    <info> 
	Iteratively sets up scripting variables to hold 
	the contents of a shopping cart item. The body 
	of this tag may then be used to display those contents
    </info>
    <attribute>
       <name>cartHoldingItems</name>
       <required>false</required>
       <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>

</taglib>
