
<table BORDER=0 CELLPADDING=0 WIDTH="100%" >
<tr>
<td WIDTH="25%"><a href="MainServlet"><img SRC="images/BD10298_.GIF"></a><a href="MainServlet">
Home</a></td>

<td WIDTH="25%"><a href="RouterServlet?page=news"><img SRC="images/BD10298_.GIF"></a><a href="RouterServlet?page=news">
Latest News</a></td>

<td WIDTH="25%"><a href="RouterServlet?page=order"><img SRC="images/BD10298_.GIF"></a><a href="RouterServlet?page=order">
Place an Order</a></td>

<td WIDTH="25%"><a href="RouterServlet?page=gossip"><img SRC="images/BD10298_.GIF"></a><a href="RouterServlet?page=gossip">
Gossip&nbsp;</a></td>
</tr>
</table>
