<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
	"http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<!-- a tag library descriptor -->

<taglib>
  <tlibversion>1.0</tlibversion>
  <jspversion>1.1</jspversion>
  <shortname>qatags</shortname>
  <uri>http://www.qatraining.com/jsp/qaTagLibrary_1</uri>
  <info>A tab library including tags for use with shopping carts</info>

  <tag>
    <name>GetElapsedTime</name>
    <tagclass>utils.ElapsedTimeFinder</tagclass>
    <bodycontent>empty</bodycontent>
    <info> 
	Outputs the time elspased between startTime and current time. 
    </info>
    <attribute>
       <name>startTime</name>
       <required>true</required>
       <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag> 


  <tag>
    <name>ShowCartItems</name>
    <tagclass>cart.ShowCartItems</tagclass>
    <teiclass>cart.ShowCartItemsTagExtraInfo</teiclass>
    <bodycontent>JSP</bodycontent>
    <info> 
	Iteratively sets up scripting variables to hold 
	the contents of a shopping cart item. The body 
	of this tag may then be used to display those contents
    </info>
    <attribute>
       <name>cartHoldingItems</name>
       <required>false</required>
       <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>      

  <tag>
    <name>Iterate</name>
    <tagclass>utils.Iterate</tagclass>
    <bodycontent>jsp</bodycontent>
    <info>
	Iterate over a Java Enumeration.
	At each iteration an attribute "item" is set
	to hold the current item taken from the Enumeration
    </info>
    <attribute>
	<name>enumeration</name>
	<required>true</required>
        <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>

  <tag>
    <name>ShowSingleCartItem</name>
    <tagclass>cart.ShowSingleCartItem</tagclass>
    <teiclass>cart.ShowCartItemsTagExtraInfo</teiclass>
    <bodycontent>JSP</bodycontent>
    <info>
	This tag sets up scripting variables to hold
	the contents of a single shopping cart item.
	The body of this tag may be used to display those
	contents. The cart item is retrieved from the item
	variable of a parent tag of type Iterate.
    </info>
  </tag>

  <tag>
    <name>SetUpScriptingVariables</name>
    <tagclass>cart.SetUpScriptingVariables</tagclass>
    <teiclass>cart.SetUpScriptingVariablesTagExtraInfo</teiclass>
    <bodycontent>empty</bodycontent>
    <info> 
      Creates a scripting variable whose name is the value of the id attribute.
      The value of the scripting variable will be the ShoppingCart stored inside
      the current session under the name "cart"
    </info>
    <attribute>
       <name>id</name>
       <required>true</required>
       <rtexprvalue>false</rtexprvalue>
    </attribute>
  </tag>
  
</taglib>
